.profileMenu {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

button{
  height: 40px;
  width: fit-content;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .profileMenu {
    gap: var(--spacing-sm);
  }
}
